* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: hsl(208, 11%, 55%);
    background-color: hsl(214, 64%, 98%);
}

h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
    color:  hsl(192, 100%, 9%);
}

.center {
    text-align: center;
    margin: 0 auto;
}

footer {
    color: #fff;
    background-color: hsl(192, 100%, 9%);
}