body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
    color:  hsl(192, 100%, 9%);
}


footer {
    color: #fff;
    background-color: hsl(192, 100%, 9%);
}